#map {
  width: 100%;
  height: 889px;
  position: absolute;
  top: 77px;
  /* left: 22em; */
}

.density {
  z-index: 1000;
  width: 10%;
  position: absolute;
  bottom: 28px;
  right: 0;
}

.ICU {
  z-index: 1000;
  width: 10%;
  position: absolute;
  bottom: 28px;
  right: 0;
}

.vent {
  z-index: 1000;
  width: 20%;
  position: absolute;
  bottom: -14em;
  right: -5em;
}
