

.short-text { display: none; }

/* When resolution <= 1200px, hide full text and show short text */
@media (max-width: 1205px) {
    .short-text { display: block; text-align: center; }
    .full-text { display: none; }
}

#sidebar a:hover {
  color: #f8b739; 
}

.button_title_content {
  color: rgb(219, 216, 216);
  font-size: 18px;
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-right: 30px;
}

.button_inner_content {
  color: rgb(219, 216, 216);
  width: 80%;
  font-size: 15px;
  border-style: solid;
  border-width: 0 0 0 0;
}
.source {
  background-color: #4e4e4e;
  padding: 8px;
  z-index: 10000;
  right: 10;
  position: relative;
  top: 1em;
  width: 8%;
  border-radius: 22px;
  padding-left: 1.5%;
  left: 90%;
}

div #container3 {
  position: relative;
  width: 100%;
}

div #slider {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

div #slider2 {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

div #slider3 {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

div #slider4 {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

.noUi-connect {
  background: #f8b049;
}

.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
  background: #e15b26;
  ;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
  top: -39px;
  bottom: initial;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  background-color: #e15b26;
  /* width: 6em; */
}

.noUi-handle {
  box-shadow: none;
}

div #input_values {
  padding: 12px;
  text-align: center;
  display: none;
}

h6 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

#info {
  border: 1px solid #ffffff00;
  border-radius: 7px;
  color: white;;
  font-size: 14px;
}

.sidebar-list {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
   
}
.sidebar-list::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.cooookie {
  padding-left: 45px;
}
