
.button_title_content {
  font-size: 20px;
  border-style: solid;
  border-width: 0 0 2px 0;
}


.button_inner_content {
  width: 80%;
  font-size: 17px;
  border-style: solid;
  border-width: 0 0 1px 0;
}

div #container3 {
  position: relative;
  width: 100%;
}

div #slider {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

div #slider2 {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

div #slider3 {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

div #slider4 {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

.noUi-connect {
  background: #f8b049;
}

.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
  background: #e15b26;
  ;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
  top: -39px;
  bottom: initial;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  background-color: #e15b26;
  width: 6em;
}

.noUi-handle {
  box-shadow: none;
}

div #input_values {
  padding: 12px;
  text-align: center;
  display: none;
}

h6 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

#feature_infos {
  width: 19%;
  background: white;
  position: relative;
  top: 9px;
  padding: 5px;
  border: 1px solid grey;
  display: block;
  z-index: 100000000000000000;
  border-radius: 7px;
  height: 42px;
}

#info {
  border: 1px solid;
  width: 116%;
  position: relative;
  border: 1px solid #ffffff00;
  border-radius: 7px;
  left: -25px;
  color: black;
  background: white;
  font-size: 14px;
}
