@media (max-height:700px) {
  #content {
    width: 100%;
    height: 99%;
    /* position: absolute; */
    /* top: 77px; */
  }
}

@media (min-height:701px) {
  #content {
    width: 83%;
    height: 99%;
    position: absolute;
    /* top: 77px; */
  }
}

.density {
  z-index: 1000;
  width: 12%;
  position: absolute;
  bottom: 99px;
  right: 10px;
}

.ICU {
  z-index: 1000;
  width: 15%;
  position: absolute;
  bottom: 105px;
  right: 5px;
}

.vent {
  z-index: 1000;
  width: 15%;
  position: absolute;
  bottom: 6.5em;
  right: 0em;
}

.HIV {
  z-index: 1000;
  width: 10%;
  position: absolute;
  bottom: 99px;
  right: 10px;
}

.TB {
  z-index: 1000;
  width: 11%;
  position: absolute;
  bottom: 99px;
  right: 10px;
}

.elderly {
  z-index: 1000;
  width: 12%;
  position: absolute;
  bottom: 94px;
  right: 0px;
}

.cases {
  z-index: 1000;
  width: 12%;
  position: absolute;
  bottom: 95px;
  right: 3px;
}

.cases_ratio {
  z-index: 1000;
  width: 14%;
  position: absolute;
  bottom: 95px;
  right: 3px;
}

.deaths {
  z-index: 1000;
  width: 10%;
  position: absolute;
  bottom: 95px;
  right: 3px;
}

.fiscal {
  z-index: 1000;
  width: 14%;
  position: absolute;
  bottom: 95px;
  right: 3px;
}

.deaths_ratio {
  z-index: 1000;
  width: 14%;
  position: absolute;
  bottom: 95px;
  right: 3px;
}

.logo1 {
  position: relative;
  top: 1.5em;
  left: 11.5em;
}

.logo2 {
  position: relative;
  top: -4.5em;
}

.source {
  background-color: #4e4e4e;
  padding: 8px;
  z-index: 10000;
  right: 10;
  position: relative;
  top: 1em;
  width: 8%;
  border-radius: 22px;
  padding-left: 1.5%;
  left: 90%;
}

div #container3 {
  position: relative;
  width: 100%;
}

div #slider {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

div #slider2 {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

div #slider3 {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

div #slider4 {
  top: 22px;
  margin: 22px 29px 0px 0px;
  margin-left: auto;
  width: 83%;
  margin-bottom: 30px;
  left: -15px;
}

.noUi-connect {
  background: #f8b049;
}

.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
  background: #e15b26;
  ;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
  top: -39px;
  bottom: initial;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  background-color: #e15b26;
  width: 6em;
}

.noUi-handle {
  box-shadow: none;
}

div #input_values {
  padding: 12px;
  text-align: center;
  display: none;
}

h6 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

#feature_infos {
  width: 19%;
  background: white;
  position: relative;
  top: 9px;
  padding: 5px;
  border: 1px solid grey;
  display: block;
  z-index: 100000000000000000;
  border-radius: 7px;
  height: 42px;
}

#info {
  border: 1px solid;
  width: 116%;
  position: relative;
  border: 1px solid #ffffff00;
  border-radius: 7px;
  left: -25px;
  color: black;
  background: white;
  font-size: 14px;
}
